@using GigNovaModels.ViewModels
@model CatalogViewModel
@{
    ViewData["Title"] = "ViewCatalog";
    Layout = "~/Views/Shared/MasterGuestPage.cshtml";
}
<h1> View Catalog</h1>
@* <div>class = "paging"
@for(int i = 1; i<=Model.PageCount;i++)
{   
    <p class=" = "page_number">
        <a href ="http://localhost:5172/Guest/ViewCatalog/?page=@i">@i</a>
    </p>
}
</div> *@
